<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">
    <div class="alert alert-primary text-right" role="alert">
        <b>Total:</b> $ {{totalDineroPedido | number: '.1-2'}} MXN
    </div>
    <div>
        <div class="form-group row" [ngClass]="{ 'has-danger' : !forma.controls['nombre'].valid }">
            <label class="col-2 form-control-label"><b>Nombre</b></label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                <div *ngIf="forma.controls['nombre'].errors?.required && forma.controls['nombre'].touched" class="form-control-feedback text-danger">
                    Introduce un nombre
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.minlength &&  forma.controls['nombre'].touched" class="form-control-feedback text-danger">
                    Por lo menos 10 caracteres
                </div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-danger' : forma.controls['email'].valid }">
            <label class="col-2 col-form-label"><b>Email</b></label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Email" formControlName="email">
                <div *ngIf="forma.controls['email'].errors?.required && forma.controls['email'].touched" class="form-control-feedback text-danger">
                    Introduce un email
                </div>
                <div *ngIf="forma.controls['email'].errors?.pattern && forma.controls['email'].touched" class="form-control-feedback text-danger">
                    Introduce un email correcto
                </div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-danger' : forma.controls['telefono'].valid }">
            <label class="col-2 col-form-label"><b>Teléfono</b></label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Teléfono" formControlName="telefono">
                <div *ngIf="forma.controls['telefono'].errors?.required && forma.controls['telefono'].touched" class="form-control-feedback text-danger">
                    Introduce un teléfono
                </div>
                <div *ngIf="forma.controls['telefono'].errors?.pattern && forma.controls['telefono'].touched" class="form-control-feedback text-danger">
                    Introduce un teléfono correcto
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table text-center">
            <thead class="fondoCafeCatalogos">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Producto y Precio unitario</th>
                    <th scope="col">Cantidad (Piezas)</th>
                </tr>
            </thead>
            <tbody formArrayName="pedido">
                <tr *ngFor="let k of productos | keys; let i = index" [ngClass]="i % 2 ? 'fondoClaroCatalogos' : 'fondoClaroCatalogosDos' ">
                    <th scope="row">{{i+1}}</th>
                    <td><img [src]="productos[k].img | images" class="rounded-circle center" width="120" height="120" alt="img"></td>
                    <td>{{productos[k].producto | uppercase}} <br> $ {{productos[k].precio_unitario | number: '.1-2'}} MXN</td>
                    <td>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [formControlName]="i" (blur)="operacionTotalPedido(productos[k].id, $event.target.value ,productos[k].precio_unitario )">
                        <div *ngIf="forma.controls['pedido'].controls[i].errors?.pattern && forma.controls['pedido'].controls[i].touched" class="form-control-feedback text-danger">
                            Las cantidades deben ser numéricas
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-primary text-right" role="alert">
        <b>Total:</b> $ {{totalDineroPedido | number: '.1-2'}} MXN
    </div>
    <div class="col-sm-12 row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" (click)="guardarCambios()" [disabled]="!bsendMail">Enviar Email</button>
        </div>
        <div *ngIf="!bsendMail" class="alert alert-primary col-sm-8" role="alert">
            Se ha enviado correo exitosamente :D
        </div>
    </div>
    <div>
        {{forma.valid}}
    </div>

</form>