<div class="row m-3 p-3 " [ngClass]="i % 2 ? 'fondoCafeObscuroCatalogos' : 'fondoCafeCatalogos' " *ngFor="let k of productos | keys; let i = index">
    <div class="col-sm-12 col-md-6 text-center mb-2">
        <img [src]="productos[k].img | images" class="imgCatalogos" alt="img">
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header">
                {{productos[k].producto}}
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{productos[k].desc1}}</h5>
                <p class="card-text"> {{productos[k].precio_unitario}}</p>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row m-3 p-3 fondoCafeCatalogos">
    <div class="col-sm-12 col-md-6 text-center  mb-2">
        <img src="../../../assets/img/chcolate.jpg" class="imgCatalogos" alt="img">
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
-->
<!--
    <div class="card-columns">
        <img class="card-img-top" src="../../../assets/img/chcolate.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card-columns">
        <img class="card-img-top" src="../../../assets/img/chcolate.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card-columns">
        <img class="card-img-top" src="../../../assets/img/chcolate.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card-columns">
        <img class="card-img-top" src="../../../assets/img/chcolate.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card-columns">
        <img class="card-img-top" src="../../../assets/img/chcolate.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    -->